.post{
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  padding: 2.5rem;
}

.post + .post{
  margin-top: 2rem;
}

.post > header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo{
  display: flex;
  flex-direction: column;
}

.authorInfo strong{
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span, time{
  font-size: .875rem;
  color: var(--gray-400);
  font-weight: 400;
  line-height: 1.6;
}

.avatar{
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-600);
  outline: 2px solid var(--green-500);
}

.content{
  margin-top: 1.5rem;
}

.content p{
  color: var(--gray-300);
  font-weight: 400;
  line-height: 1.6;
  margin: 1.5rem 0;
}

.content a{
  font-weight: 700;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover{
  color: var(--green-300);
}

.commentForm{
  width: 100%;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm strong{
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea{
  width: 100%;
  height: 6rem;
  background: var(--gray-900);
  resize: none;
  border: 0;
  outline: none;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  color: var(--gray-100);
  font-weight: 400;
  line-height: 1.4;
}

.commentForm button{
  padding: 1rem 1.5rem;
  background: var(--green-500);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  transition: background-color .1s;
  cursor: pointer;

}

.commentForm button:hover{
  background: var(--green-300);
}

.commentForm footer{
  display: none;
}

.commentForm:focus-within footer{
  display: block;
}